[Unit]
Description=Network abstraction service
After=opx-pas.service
DefaultDependencies=no

[Service]
Type=forking
EnvironmentFile=/etc/opx/opx-environment
ExecStart=/usr/bin/opx_nas_daemon.sh
PIDFile=/var/run/netserve.pid

# Resource Limitations
LimitCORE=infinity
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
